html {
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--orange);
  margin: 0;
  font-family: "IMFellEnglish-Regular", serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

section {
  background-color: var(--orange);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.header-padding {
  padding-top: 2rem;
}

#map {
  padding: 0 !important;
}

:root {
  --orange: #9f5114;
  --lightorange: #ceac99;
  --offwhite: #ebe5dc;
  --white: #fff;
}

@font-face {
  font-family: "IMFellEnglish-Regular";
  src: url("fonts/IMFellEnglish-Regular.ttf");
}
