html {
  scroll-behavior: smooth;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--orange);
  margin: 0;
  font-family: "IMFellEnglish-Regular", serif;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

section {
  background-color: var(--orange);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

iframe {
  border: none;
  width: 600px;
  height: 100vh;
  margin: 0 auto 2rem auto;
}

.header-padding {
  padding-top: 2rem;
}

#map {
  padding: 0 !important;
}

:root {
  --orange: #a84a00;
  --lightorange: #ceac99;
  --offwhite: #ebe5dc;
  --white: #fff;
}

@font-face {
  font-family: "IMFellEnglish-Regular";
  src: url("fonts/IMFellEnglish-Regular.ttf");
}

.text-orange {
  color: var(--orange);
}

.text-lightorange {
  color: var(--lightorange);
}

.text-offwhite {
  color: var(--offwhite);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 10px;
}

p {
  font-size: 0.95rem;
}

#rsvp {
  padding: 0 !important;
}

.landing-image {
  height: 70px;
}

.btn-rsvp {
  width: 50px;
  height: 50px;
  bottom: 15px;
  right: 15px;
}

.btn-rsvp i {
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
    line-height: 7px;
  }

  p {
    font-size: 0.95rem;
  }

  .landing-image {
    height: 60px;
    z-index: 100;
  }
}