#calendar {
  background: var(--offwhite);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 5rem 0;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;
}

.calendar-wrapper {
  background: var(--offwhite);
  border-radius: 6px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.calendar-header {
  font-weight: 500;
  font-size: 24px;
  color: var(--orange);
  margin: 0 0 15px 0;
  width: 100%;
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid var(--lightorange);
  border-radius: 3px;
  overflow: hidden;
  gap: 0;
}

.calendar-grid div {
  font-size: 1.1rem;
  text-align: center;
  color: var(--orange);
  padding: 10px;
  border-right: 1px solid var(--lightorange);
  border-bottom: 1px solid var(--lightorange);
  position: relative;
}

.calendar-grid div:nth-child(7n) {
  border-right: none;
}

.calendar-grid div:nth-last-child(-n+7) {
  border-bottom: none;
}

.day-name {
  font-weight: 600;
  background: var(--offwhite);
  box-shadow: inset 0 -1px 0 var(--offwhite), inset 0 -2px 0 var(--lightorange);
}

.highlight {
  position: relative;
}

.highlight::before {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--orange);
  opacity: 0.25;
  z-index: 0;
  pointer-events: none;
}

@media (max-width: 768px) {
  .highlight::before {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .highlight::before {
    font-size: 1.2rem;
  }
}

.calendar-btn {
  background: var(--orange);
  border: none;
  padding: 7px 15px;
  border-radius: 6px;
  color: var(--offwhite);
  cursor: pointer;
  margin-top: 25px;
  font-size: 1.1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.calendar-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .calendar-wrapper {
    width: 85vw;
    padding: 20px;
  }

  .calendar-header {
    font-size: 32px;
  }

  .calendar-grid div {
    padding: 8px;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .calendar-wrapper {
    width: 85vw;
    padding: 15px;
  }

  .calendar-header {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .calendar-grid div {
    padding: 6px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .calendar-header {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .calendar-grid div {
    padding: 8px;
    font-size: 0.9rem;
  }
}