.countdown {
  display: flex;
  justify-content: center;
  background-color: var(--offwhite);
  width: 100vw;
  align-items: center;
  margin-top: -5rem;
  z-index: 10;
}

.countdown-item {
  text-align: center;
  width: 90px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 3rem;
  font-size: 1rem
}

.countdown-item::after {
  content: ":";
  position: absolute;
  right: -5px;
  top: -22px;
  font-size: 35px;
  color: var(--orange);
}

.countdown-item:last-child::after {
  content: "";
}

.countdown-number {
  font-size: 35px;
  color: var(--orange);
}

.countdown-label {
  font-size: 20px;
  color: var(--orange);
  margin-top: 0;
}

@media (max-width: 480px) {
  .countdown {
    padding-bottom: 0;
  }

  .countdown-item {
    width: 60px;
    height: 60px;
    padding-bottom: 0;
  }

  .countdown-item::after {
    right: -5px;
    font-size: 20px;
    top: 7px;
  }

  .countdown-number {
    font-size: 20px;
  }

  .countdown-label {
    font-size: 12px;
  }
}