#landing-page {
  min-height: 100vh;
  width: 100vw;
  background: var(--offwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#landing-page header {
  color: var(--orange);
  text-align: center;
  position: relative;
  z-index: 10;
  padding-top: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#landing-page #landing-image {
  text-align: center;
  position: top;
}