#landing-page {
  height: 100vh;
  width: 100vw;
  background: var(--offwhite);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

#landing-page header {
  color: var(--orange);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 0;
  flex: none;
}

#landing-page img {
  width: auto;
  height: 150px;

  margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
  #landing-page {
    height: 90vh;
  }

  #landing-page img {
    width: auto;
    height: 80px;
    margin-bottom: 1rem;
  }
}