#landing-page {
  min-height: 100vh;
  width: 100%;
  background: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#landing-page header {
  color: var(--white);
  text-align: center;
  position: relative;
}

#landing-page #landing-image {
  text-align: center;
  position: top;
}