#map-container {
  width: 600px;
  height: 400px;
  margin-top: 0;
  border: 2px solid var(--lightorange);
  border-radius: 0;
  margin: 0 auto 2rem auto;
}

@media (max-width: 600px) {  
  #map-container {
    width: 90%;
  }
}