#photo-menu {
  min-height: 80vh;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background-color: var(--orange);
}

.polaroid-grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 50px;
  box-sizing: border-box;
}

.polaroid {
  width: 220px;
  background: var(--offwhite);
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.polaroid img {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 1 / 1;
}

.caption {
  margin-top: 20px;
  font-size: 26px;
  color: var(--orange);
}

.polaroid-link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
  color: inherit;
}

.polaroid-link:hover {
  transform: scale(1.05);
}

.polaroid-link:nth-child(odd) .polaroid {
  transform: rotate(-4deg);
  margin-top: -15px;
}

.polaroid-link:nth-child(even) .polaroid {
  transform: rotate(4deg);
}

.polaroid-link:hover .polaroid {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  transform: scale(1.07) rotate(0deg);
}

@media (max-width: 1200px) {
  #photo-menu {
    min-height: 90vh;
    margin-bottom: 3rem;
  }

  .polaroid-grid {
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }

  .polaroid {
    width: 200px;
    padding: 15px;
  }

  .caption {
    margin-top: 5px;
  }
}

@media (max-width: 700px) {
  #photo-menu {
    min-height: 80vh;
  }

  .polaroid-grid {
    row-gap: 50px;
    column-gap: 50px;
  }
  
  .polaroid {
    width: 150px;
    padding: 7px;
    grid-template-columns: repeat(2, 1fr);
  }

  .caption {
    font-size: 20px;
  }
}

@media (max-width: 480px) {  
  #photo-menu {
    min-height: 60vh;
  }

  .polaroid-grid {
    row-gap: 25px;
    column-gap: 25px;
    margin-top: -20px;
  }
  
  .polaroid {
    width: 110px;
    padding: 7px;
  }
}