#photographer-section {
  margin-bottom: 1rem;
}

.photographer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.photographer-card {
  width: 500px;
}

.photographer-thanks {
  font-size: 1.5rem;
  padding-top: 1rem;
}

@media (max-width: 480px) {
  .photographer-card {
    width: 80vw;
  }

  .photographer-card p {
    font-size: 1rem;
  }

  .photographer-card i {
    font-size: 1.1rem;
  }

  #photographer-section {
    margin-bottom: 2rem;
  }

  @media (max-width: 480px) {
  .photographer-thanks {
    font-size: 0.95rem;
  }
}
}