#places {
  width: 550px;
  margin: 2rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  row-gap: 25px;
}

.place-row {
  display: flex;
  align-items: center;
  row-gap: 10px;
  column-gap: 20px;
  justify-content: space-between; 
}

.place-row.reverse {
  flex-direction: row-reverse;
}

.place-row.reverse .place-text {
  text-align: right;
}

.place {
  width: 200px;
  padding: 12px 12px 15px 12px;
  background-color: var(--offwhite);
  color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transform: rotate(-2deg);
}

.place-row.reverse .place {
  transform: rotate(2deg);
}

.place-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 8px;
}

/* caption */
.place-caption {
  font-size: 0.95rem;
  margin: 0;
  padding: 0;
}

/* text */
.place-text {
  color: var(--offwhite);
  max-width: 50%;
  margin: 0;
  padding: 0;
}

.place-text h2 {
  margin: 0 0 0.3rem 0;
  font-size: 1.9rem;
}

.place-text p {
  line-height: 1.5;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  #places {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #places {
    width: 90%;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 1rem;
  }

  .place {
    width: 50%;
    max-width: 200px;
    padding: 7px 7px 4px 7px;
  }

  .place-image {
    margin-bottom: 4px;
  }

  .place-text h2 {
    margin: 0 0 0.3rem 0;
    font-size: 1.2rem;
  }

  .place-text p {
    margin: 0;
    line-height: 1.4;
    font-size: 0.9rem;
  }
}