@media (max-width: 768px) {
  #map,
  #rsvp {
    padding: 0 !important;
  }

  .landing-image {
    height: 70px;
  }
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.3rem;
    color: --var(--white);
  }

  .btn-rsvp {
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
  }

  .btn-rsvp i {
    font-size: 1.2rem;
  }

  .landing-image {
    height: 70px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 7px;
  }

  p {
    font-size: 0.95rem;
  }

  .btn-rsvp {
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
  }

  .btn-rsvp i {
    font-size: 1.4rem;
  }

  .landing-image {
    height: 10px;
  }
}