#timeline-bcg {
  background-color: var(--offwhite);
}

#timeline {
  width: 500px;
  margin: 0 auto 5rem auto;
  background-color: var(--offwhite);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-left: 50px;
}

/* line */
#timeline::before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 20px;
  left: 20px;
  margin-top: -10px;
  width: 2px;
  background-color: var(--orange);
  z-index: 10;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  color: var(--orange);
  margin-left: 0;
}

/* time */
.timeline-time {
  position: absolute;
  left: -160px;
  width: 100px;
  text-align: right;
  color: var(--orange);
  font-weight: 600;
  font-size: 1.5rem;
}

.timeline-item:last-child {
  margin-bottom: 10px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: var(--orange);
  color: var(--orange);
  border-radius: 50%;
  left: -34px;
  top: 5px;
}

.timeline-content {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  flex: 1;
}


@media (max-width: 480px) {
  #timeline {
    width: 80%;
    margin: 45px;
  }

  #timeline::before {
    margin-top: -15px;
  }

  .timeline-time {
    left: -140px;
    font-size: 1rem;
  }

  .timeline-item {
    margin: 10px 0;
    margin-left: 0;
  }

  .timeline-item::before {
    top: 8px;
  }

  .timeline-content {
    margin-top: 3px;
  }
} 