#timeline {
  width: 600px;
  margin: 0 auto 5rem auto;
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#timeline::before {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 20px;
  margin-top: -10px;
  width: 2px;
  background-color: var(--white);
  z-index: 10;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: top;
  margin: 20px;
  color: var(--white);
}

.timeline-item:last-child {
  margin-bottom: 10px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: var(--white);
  color: var(--white);
  border-radius: 50%;
  margin-left: -5px;
}

.timeline-content {
  margin-top: -5px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: 0;
}


@media (max-width: 480px) {
  #timeline {
      width: 80%;
  }
} 